<%= render "shared/header", title: 'Add New Purchases' %>

<div class="form-container mt-3">
  <%= form_with model: [@group, @purchase], class: "h-100" ,local: true do |form| %>
    <div class="field mb-3 w-100 p-1 d-flex justify-content-center mt-3">
      <%= form.text_field :name, placeholder: "Purchase Name", class: "form-control p-2" %>
    </div>
    
    <div class="field mb-3 w-100 p-1 d-flex justify-content-center mt-3">
      <%= form.number_field :amount, placeholder: "Amount", class: "form-control p-2" %>
    </div>
    
    <div class="field mt-5 w-100 add p-3 d-flex justify-content-center">
      <%= form.submit "Add Purchase", class: "btn border border-white border-2 fs-5 fw-bold text-white w-25" %>
    </div>
  <% end %>
</div>