<%= render "shared/header", title: 'Add New Purchases' %>

<div class="form-container mt-3">
  <%= form_with model: [@group, @purchase], class: "d-flex flex-column justify-content-center" ,local: true do |form| %>
    <div class="field mb-3 w-100 p-1 d-flex justify-content-center field-group-one">
      <%= form.text_field :name, placeholder: "Purchase Name", class: "form-control p-2" %>
    </div>
    
    <div class="field mb-3 w-100 p-1 d-flex justify-content-center field-group">
      <%= form.number_field :amount, placeholder: "Amount", class: "form-control p-2" %>
    </div>
    
    <div class="field mt-5 w-100 add p-3 d-flex justify-content-center form-bottom">
      <%= form.submit "Add Purchase", class: "btn border border-white border-1 fs-5 text-white w-75" %>
    </div>
  <% end %>
</div>